body{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    
}

.calcDisplay{
    height: 100px;
    width: 435px;
    background-color: lightskyblue;
    margin: auto;
}

.calc{
    width: 430px;
    margin: auto;
}

.numbers{
    display: inline-block;
    float: left;
    width: 327px;
    
    
    
}

.numbers button{
    width: 100px;
    height: 100px;
    margin: 3px;
    background-color: darkcyan;
    box-shadow:0 4px blue;
    font-size: medium;
    
}

.operators{
    display: inline-block;
    float: right;
    width: 100px;
    
}

.operators button{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 3px;
    background-color: darkcyan;
    box-shadow:0 4px blue;
    font-size: medium;
}

.equals{
    display: block;
    width: 220px;
    transform: translateX(-110px);
}

#equals{
   width: 210px;
    transform: translate(-110px, -106px);
}

    @media only screen and (max-width:600px){
        
    }

    .numbers button:hover{
        background-color:white;
        
    }
.operators button:hover{
    background-color: white;
}